<%- include("../shared/header.ejs") %>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body business-btn position-relative">
                                    <div class="business-hading text-center">
                                        <h3>Distributor Enquiry Form </h3>
                                        <p class="card-description py-md-3"> Kindly Fill Distributor Enquiry Form, Our
                                            Team Will Got Back To You Shortly.
                                        </p>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mb-md-4 text-danger">Firm Details</h3>
                                    </div>
                                    <form class="forms-business">
                                        <div class="form-group">
                                            <label>Firm Name*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Business Name">
                                        </div>
                                        <div class="form-group business-mobile-style">
                                            <label>Name Of Proprietor / Partner*</label>
                                            <input type="text" class="form-control form-control-lg px-3"
                                                placeholder="Enter Proprietor Partner Name">
                                        </div>
                                        <div class="form-group">
                                            <label class=" col-form-label">Select New of Existing Business
                                                Partner*</label>
                                            <div class="d-flex">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios1" value=""
                                                            checked>
                                                        PROPRIETORSHIP
                                                    </label>
                                                </div>
                                                <div class="form-check mx-4">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2">
                                                        PARTNERSHIP
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2">
                                                        PVT LTD
                                                    </label>
                                                </div>
                                                <div class="form-check mx-4">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2">
                                                        HUF
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2">
                                                        OTHERS
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <h3 class="my-md-4 text-danger">Address Details</h3>
                                        </div>
                                        <div class="form-group">
                                            <label>Pin Code*</label>
                                            <input type="tel" class="form-control-lg form-control px-3"
                                                placeholder="Enter Pin Code">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleTextarea1">Address*</label>
                                            <textarea class="form-control" id="exampleTextarea1" rows="2"
                                                placeholder="Enter Address......"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Sub District*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Sub District Name">
                                        </div>
                                        <div class="form-group">
                                            <label>District*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter District Name">
                                        </div>
                                        <div class="form-group">
                                            <label>City*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter City Name">
                                        </div>
                                        <div class="form-group">
                                            <label>State*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter State Name">
                                        </div>
                                        <div class="text-center">
                                            <h3 class="my-md-4 text-danger">Contact Details</h3>
                                        </div>
                                        <div class="form-group business-mobile-style">
                                            <label>Alternate Contact Number*</label>
                                            <input type="tel" class="form-control form-control-lg px-3 "
                                                placeholder="Enter Alternate Contact Number">
                                        </div>
                                        <div class="text-center">
                                            <h3 class="my-md-4 text-danger">Interested Product Details</h3>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-check-label">Interested Business Type*</label>
                                            <div class="d-flex">
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" checked> Oil<i
                                                            class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"> Food & FMCG<i
                                                            class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"> Bakery and
                                                        sp.fact<i class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"> Industry
                                                        Essential<i class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" checked>
                                                        Commodity<i class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"> Fortune Mart<i
                                                            class="input-helper"></i>
                                                    </label>
                                                </div>
                                                <div class="form-check me-2">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"> Others<i
                                                            class="input-helper"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Sister Concern Firm Associated With AWL*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Sister Concern Firm Associated With AWL">
                                        </div>
                                        <div class="form-group">
                                            <label>Code Of Sister Concern Firm Associated With AWL*</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Code Of Sister Concern Firm Associated With AWL">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-check-label">Business Type*</label>
                                            <div class="d-flex">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios1" value=""
                                                            checked>
                                                        Distributor
                                                    </label>
                                                </div>
                                                <div class="form-check mx-4">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2">
                                                        Trader
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2"> Super Stockist
                                                    </label>
                                                </div>
                                                <div class="form-check mx-4">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input"
                                                            name="membershipRadios" id="membershipRadios2"
                                                            value="option2"> Others
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Expected Monthly Turnover*</label>
                                            <input type="tel" class="form-control-lg form-control px-3"
                                                placeholder="Enter Expected Monthly Turnover">
                                        </div>
                                        <div class="text-center">
                                            <h3 class="my-md-4 text-danger">Referred By</h3>
                                        </div>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Designation</label>
                                            <input type="text" class="form-control-lg form-control px-3"
                                                placeholder="Enter Designation">
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile</label>
                                            <input type="tel" class="form-control-lg form-control px-3"
                                                placeholder="Enter Mobile Number">
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="role-btn">SAVE AS DRAFT</button>
                                        </div>
                                    </form>
                                    <div class="distributors-back position-absolute">
                                        <button class="role-btn" onclick="window.history.back()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid text-center">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Lorem ipsum dolor
                            veniam
                            eveniet ut est distinctio nulla!</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

<%- include("../shared/footer.ejs") %>
