
<script src="/src/public/js/jquery.min.js"></script>

<!-- endinject -->
<!-- inject:js -->
<script src="../../public/vendors/js/vendor.bundle.base.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/off-canvas.js"></script>
<script src="../../public/js/hoverable-collapse.js"></script>
<script src="../../public/js/misc.js"></script>

<script src="../../public/DataTables/jquery.dataTables.js"></script>

<script src="../../public/js/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="../../public/js/main.js"></script>
<script src="../../public/countryjs/map_loader.js"></script>
<script src="../../public/countryjs/map_custom.js"></script>

</body>
</html>