<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Distributor Details</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../public/vendors/mdi/css/materialdesignicons.min.css" />
  <!-- <link rel="stylesheet" href="./assets/vendors/css/vendor.bundle.base.css"> -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../public/css/style.css" />
  <link rel="stylesheet" href="../../public/css/style.css" />

  <link rel="stylesheet" href="../../public/css/responsive.css" />
  <!-- End layout styles -->
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../public/DataTables/datatables.min.css" />
  <!-- Include SweetAlert2 Library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo logo-hide" href="/"><img src="../../public/images/Group 46 (1).jpg"
          alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/"><img src="../../public/images/Group 46 (1).jpg" alt="logo" /></a>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="nav-profile-img">
              <img src="../../public/images/faces/user-avatar.webp" alt="image" />
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">XYZ ASE</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-cached me-2 text-success"></i> Activity Log
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">
              <i class="mdi mdi-logout me-2 text-primary"></i> Signout
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">

        <% if (token?.Dashboard==='1' ) { %>
          <li class="nav-item">
            <a class="nav-link" href="./">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">DASHBOARD</span>
            </a>
          </li>
          <% } %>

            <% if (token?.ProspectiveDistributors=='1' ) { %>
              <li class="nav-item">
                <a class="nav-link" href="/prospective_buisnessform">
                  <i class="mdi mdi-contacts menu-icon"></i>
                  <span class="menu-title">Prospective Distributors</span>
                </a>
              </li>
              <% } %>

                <% if (token?.Invite=='1' ) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/invite">
                      <i class="mdi mdi-content-save-all menu-icon"></i>
                      <span class="menu-title">Invite</span>
                    </a>
                  </li>
                  <% } %>

                    <% if (token?.ScoutingSheet=='1' ) { %>
                      <li class="nav-item">
                        <a class="nav-link" href="/scoutingsheet">
                          <i class="mdi mdi-palette-advanced menu-icon"></i>
                          <span class="menu-title">Scouting sheet</span>
                        </a>
                      </li>
                      <% } %>

                        <% if (token?.Opportunity=='1' ) { %>
                          <li class="nav-item">
                            <a class="nav-link" href="/opportunity">
                              <i class="mdi mdi-human-greeting menu-icon"></i>
                              <span class="menu-title">Opportunity</span>
                            </a>
                          </li>
                          <% } %>

                            <% if (token?.ApproverInbox=='1' ) { %>
                              <li class="nav-item">
                                <a class="nav-link" href="/approvers">
                                  <i class="mdi mdi-message menu-icon"></i>
                                  <span class="menu-title">Approver's Inbox</span>
                                </a>
                              </li>
                              <% } %>

                                <% if (token?.ApplicationList=='1' ) { %>
                                  <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                                      aria-controls="ui-basic">
                                      <i class="mdi mdi-account-box-outline menu-icon"></i>
                                      <span class="menu-title">Application List</span>
                                      <i class="menu-arrow"></i>
                                    </a>
                                    <div class="collapse" id="ui-basic">
                                      <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                          <a class="nav-link" href="/application_doccpature">Document Captur</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="/application_underreview">Under Review</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="/application_completed">Completed</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="/application_rejected">Rejected</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                  <% } %>

                                    <% if (token?.DistributorsList=='1' ) { %>
                                      <li class="nav-item">
                                        <a class="nav-link" href="/distributor_list">
                                          <i class="mdi mdi-library-books menu-icon"></i>
                                          <span class="menu-title">Distributors List</span>
                                        </a>
                                      </li>
                                      <% } %>

                                        <% if (token?.RoleManagement=='1' ) { %>
                                          <li class="nav-item">
                                            <a class="nav-link" href="/role_managment">
                                              <i class="mdi mdi-roller-skate menu-icon"></i>
                                              <span class="menu-title">Role Management</span>
                                            </a>
                                          </li>
                                          <% } %>

                                            <% if (token?.UserManagement=='1' ) { %>
                                              <li class="nav-item">
                                                <a class="nav-link" href="/user_management">
                                                  <i class="mdi mdi-source-repository menu-icon"></i>
                                                  <span class="menu-title">User Management</span>
                                                </a>
                                              </li>
                                              <% } %>

                                                <% if (token?.TerritoryManagement=='1' ) { %>
                                                  <li class="nav-item">
                                                    <a class="nav-link" href="/territory_managment">
                                                      <i class="mdi mdi-progress-wrench menu-icon"></i>
                                                      <span class="menu-title">Territory Management</span>
                                                    </a>
                                                  </li>
                                                  <% } %>

                                                    <li class="nav-item">
                                                      <a class="nav-link" href="/login_role">
                                                        <i class="mdi mdi-table-large menu-icon"></i>
                                                        <span class="menu-title">Role User login</span>
                                                      </a>
                                                    </li>
      </ul>
    </nav>

</html>