<%- include("../shared/header.ejs") %>


            <div class="main-panel scouting_sheet">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card p-4 table-responsive">
                                <div class="row mt-4 text-center">
                                    <table class="table-bordered table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Categories For Evaluation</th>
                                                <th scope="col">Not Satisfactory</th>
                                                <th scope="col">Marginal</th>
                                                <th scope="col">Meets All Expectations</th>
                                                <th scope="col">Exceeds Expectations</th>
                                                <th scope="col">Exceptional</th>
                                                <th scope="col">Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span>Points</span></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>5</td>
                                                <td><span>Average Score</span></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="row my-4 text-center">
                                    <form action="" class="p-0">
                                        <table class="table-bordered table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Applicants Name</th>
                                                    <th scope="col">Experience and Reputation</th>
                                                    <th scope="col">Market Coverage</th>
                                                    <th scope="col">Financial Stability</th>
                                                    <th scope="col">Product Knowledge</th>
                                                    <th scope="col">Distribution Network</th>
                                                    <th scope="col">Customer Base</th>
                                                    <th scope="col">Sales and Marketing Capabilities</th>
                                                    <th scope="col">Support and Training</th>
                                                    <th scope="col">Terms and Conditions</th>
                                                    <th scope="col">Average Score</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span>Srinivasa</span></td>
                                                    <td>4</td>
                                                    <td>2</td>
                                                    <td>5</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                    <td>2</td>
                                                    <td>1</td>
                                                    <td>3</td>
                                                    <td>5</td>
                                                    <td>3.3</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" value="Aman "
                                                            name="name">
                                                    </td>
                                                    <td><input type="tel" class="form-control"
                                                            name="ExperienceReputation">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="MarketCoverage">
                                                    </td>
                                                    <td><input type="tel" class="form-control"
                                                            name="FinancialStability">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="ProductKnowledge">
                                                    </td>
                                                    <td><input type="tel" class="form-control"
                                                            name="DistributionNetwork">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="CustomerBase"></td>
                                                    <td><input type="tel" class="form-control" name="SalesMarketing">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="SupportTraining">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="TermsConditions">
                                                    </td>
                                                    <td><input type="tel" class="form-control" name="Average Score">
                                                    </td>
                                                </tr>


                                            </tbody>

                                        </table>
                                        <div>
                                            <button type="submit" class="role-btn float-end">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid text-center">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Admin Dashboard!
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

</body>
<%- include("../shared/footer.ejs") %>

</html>