<%- include("../shared/header.ejs") %>


            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body role-management table-responsive">
                                    <div>
                                        <h3 class="role-hadding">Role Management</h3>
                                    </div>
                                    <div class="row my-2 d-flex">
                                        <div class="col-md-6 col-sm-4">
                                            <div class="input-group-table-role  rounded">
                                                <input type="search" id="search_table_input" class="form-control "
                                                    placeholder="Search" aria-label="Search" />
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-6 col-sm-6 my-1 d-flex justify-content-md-end  justify-content-sm-end">
                                            <a class="role-btn">CREATE ROLE</a>
                                        </div>
                                    </div>
                                    <table id="role_management_id_table"
                                        class="display table table-hover stripe row-border order-column"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ROLE NAME</th>
                                                <th>DISPLAY NAME</th>
                                                <th>PERMISSION (S)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="search_table_data">
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AWL_ASE</td>
                                                <td>Area Sales Executive</td>
                                                <td>Application Approver, Application Details, Approver Inbox,Business
                                                    Partner Invite, Markit Survery App, History Tab, Details Tab.
                                                    Document Tab, Enterprise Application list,Dashboard, Enterprise
                                                    Document Upload</td>
                                                <td class="role-icon">
                                                    <div class="role-dropdown ">
                                                        <i class="role-dropbtn mdi mdi-dots-vertical"></i>
                                                        <div class="role-dropdown-content">
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-lead-pencil"></i><span
                                                                    class="mx-2">Edit</span></a>
                                                            <a href="#" class="d-flex align-items-center"><i
                                                                    class="mdi mdi-delete"></i><span
                                                                    class="mx-2">Delete</span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid text-center">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Lorem ipsum dolor
                            veniam
                            eveniet ut est distinctio nulla!</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

<%- include("../shared/footer.ejs") %>